<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FULL STACK WEB DEVELOPMENT EXPERIMENT 2</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div>
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://c8.alamy.com/comp/D00E60/illustration-of-save-earth-on-white-background-D00E60.jpg">Save.com</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active bg2"><a href="#">Home</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">PLACEMENT CELL <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Search for jobs</a></li>
                <li><a href="#">Certification</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </li>
            <li><a href="#">AboutUs</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a>Envelope: <span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a>Search: <span class="glyphicon glyphicon-search"></span></a></li>
            <li><a>Print: <span class="glyphicon glyphicon-print"></span></a></li>
          </ul>
        </div>
      </nav></div>

<router-outlet></router-outlet>
